<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Панель админа [Редактирование заявки]</title>

    <link rel="stylesheet" th:href="@{../../../../css/styletabs.css}" />
</head>

<body>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="menu">
                <div class="abs edit_block">
                    <a th:href="@{/arhouse.arh/admin}" class="backmodeladm">НАЗАД</a>
                    <a th:href="@{/arhouse.arh/admin#personnel}">ПЕРСОНАЛ</a>
                    <b><a th:href="@{/arhouse.arh/admin#requests}">ЗАЯВКИ</a></b>
                    <a th:href="@{/arhouse.arh/admin#shops}">МАГАЗИНЫ</a>
                    <a th:href="@{/arhouse.arh/admin#reports}">ОТЧЁТЫ</a>
                    <hr>
                </div>

                <form method="post" enctype="multipart/form-data">
                    <p style="padding-left: 5%">РЕДАКТИРОВАНИЕ МОДЕЛИ</p><br>
                    <div class="edit_form">
                        <div class="form-group-left">
                            <div class="field">
                                <label for="name">Заявка:</label>
                                <input class="hidden-input" type="text" th:value="*{edit_model.getRequestsModel().nameProject}" id="name" readonly />
                            </div>
                            <div class="field">
                                <label for="statusModel">Статус модели:</label>
                                <select class="custom-select" th:field="*{edit_model.statusModel}" id="statusModel">
                                    <option th:value="3">Моделирование</option>
                                    <option th:value="4">МоделированиеЗавершено</option>
                                    <option th:value="5">Дизайн</option>
                                    <option th:value="6">ДизайнЗавершено</option>
                                </select>
                            </div>
                            <div class="field" >
                                <div th:if="${edit_model.pathToModel != null}">
                                    <label for="path">Путь к модели:</label>
                                    <input class="hidden-input" type="text" th:value="*{edit_model.pathToModel}" id="path" readonly />
                                </div>

                                <div th:if="${edit_model.pathToModel == null}">
                                    <label for="pathnull">Путь к модели:</label>
                                    <input class="hidden-input" type="text" th:value="Отсутствует" id="pathnull" readonly />
                                </div>
                            </div>
                            <div class="field">
                                <label for="updmodel">Загрузить модель:</label>
                                <input type="file" name="file" id="updmodel" />
                            </div>
                            <div class="field inline">
                                <label>
                                    <button class="btn btn-secondary" type="submit">Сохранить</button>
                                </label>
                                <div class="field inline">
                                    <label>
                                        <a th:href="@{/arhouse.arh/admin/editrequest/{id}(id = ${edit_model.getRequestsModel().getId()})}">
                                            <input type="button" class="btn btn-secondary btn-href" value="Отмена"/>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
</body>
</html>